.companies{
    max-width: 1960px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.companies-item{
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    border: 1px solid #faf446;
    border-radius: 10px;
    margin: 20px;
    width: 600px;
}

.company-item_main{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.companies-item_left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.companies-item_link-img{
    border-radius: 10px;
    height: auto;
    width: 100%;
    min-width: 250px;
    object-fit: cover;
    overflow:hidden;
}

.companies-item-tags{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.companies-item-tag{
    font-family: Gilroy;
    color:#FCD54C;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.companies-item_description{
    justify-content: center;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.companies-item-title{
    font-family: Gilroy;
    color:#FFFFFF;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.companies-item_specification{
    font-family: Gilroy;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
}

.companies-item_about-company{

    font-family: WorkSans;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
}

.companies-item_footer-link{
    text-decoration: none;
    display: flex;
    gap: 10px;
    height: 32px;
    align-items: center;
}

.companies-item_link-icon{

    max-width: 32px;
    max-height: 32px;
}

.companies-item_link:hover{
    transition-duration: 2s;
    transform: scale(1.1);
}

.companies-item_link-text{
    color: #FFFFFF;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.fav-button_icon{
    height: 22px;
    width: 22px;
}

.companies-item_footer{
    align-self: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 180px;
}

.companies-item_fav-button{
    align-self: flex-start;
    align-items: center;
    background-color: #272727;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.2px;
    gap: 10px;

    height: 59px;
    line-height: 21px;
    padding: 15px ;

    cursor: pointer;
}

.companies-item_fav-button:hover{
    transform: scale(1.015);
}