
.idea/misc.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/web-chel-work.iml

*.pyc

itcompanysite/db.sqlite3
.project
.dbeaver/project-settings.json
.dbeaver/data-sources.json

itcompanysite/itcompanysite/.env
