{%extends 'main/layout.html'%}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'accounts/css/profile.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'companies/css/companies.css'%}">
{% endblock %}
{% block title %}Мой профиль{%endblock%}

{% block content %}

<main class="profile-container">

    <div class="profile-header">

        <img class="profile-header__icon" src="{% static 'accounts/icons/user.svg'%}">
        <div class="profile-header__userName">
            <span class="userName-text">{{user.username}}</span>
<!--            <a class="userName-reduction">-->
<!--                <span>редактировать</span>-->
<!--                <img class="userName-reduction__icon" src="{% static 'accounts/icons/arrow-right.svg'%}">-->
<!--            </a>-->
        </div>
    </div>

    <div class="profile-header__rect"></div>

    <div class="profile__favourite">
        <span class="favourite-title">Избранное</span>
        <div class="companies favourite-companies">

            {% if not companies %}
                <h4>Здесь пока нет компаний</h4>
            {% endif %}

            {% for company in companies %}
                <div id="company-{{company.id}}" class="companies-item">
                    <div class="companies-item_header">
                <span class="companies-item_header-title">{{ company.name }}</span>
                {% for subcategory in company.subcategories %}
                    <button class="header_category-button" onclick="window.location.href = 'http://127.0.0.1:8000/companies/{{subcategory.subcategory_name}}'" style="border-color: {{subcategory.color}}">
                            <span>{{subcategory.subcategory_name}}</span>
                    </button>
                {% endfor%}
            </div>
                    <div class="company-item_main">
                        <div class="companies-item_left">
                            <a class="companies-item_link" href="{{company.url}}">
                                 <img class="companies-item_link-img" src="{{ company.logotype.url }}">
                            </a>
                        </div>

                        <div class="companies-item_description">
                            <span class="companies-item_about-company">{{company.short_description}}</span>
                        </div>
                    </div>

                    <div class="companies-item_footer">
                        <a class="companies-item_footer-link" href="{{company.url}}">
                            <img class="companies-item_link-icon" src="{% static 'companies/icons/url.svg'%}">
                            <span class="companies-item_link-text">{{ company.name }}</span>
                        </a>

                        <button class="companies-item_fav-button remove-fav" id="remove-from-favorites-{{ company.id }}" data-company-id="{{ company.id }}">
                            <span>Удалить</span>
                            <img class="fav-button_icon" src="{% static 'accounts/icons/trash-bin.svg'%}">
                        </button>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
    <form class="profile-logout" action="{%url 'logout'%}">
        <button class="profile-logout__button button" type="submit">
            <img class="profile-logout_icon" src="{% static 'accounts/icons/logout.svg'%}">
            <span>Выйти</span>
        </button>
    </form>
</main>
<script src=" {% static 'companies/js/scripts.js' %}"></script>

{%endblock%}
