.categories{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin: 50px;

}

.categories-container{

    display: flex;
    flex-direction: column;
    gap: 35px;
    border-radius: 10px;
    padding: 10px;

}

.main-category{

    display: flex;
    flex-direction: column;
    gap: 35px;
    border-radius: 10px;
    padding: 30px;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 15px;

    border: 2px solid;
}

.main-category_header{

    display: flex;
    flex-direction: column;
    justify_content:
    gap: 25px;
}

.main-category_header-upper{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.main-category_header-title{
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.main-category_subcategories{
    border-top: 1px solid #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 30px 0;
    align-items: flex-start;
    flex-wrap: wrap;
}


.categories-item{

    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    border: 2px solid;
}

.categories_title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-space: 0.2px;
}

.categories_subtitle{
    border-top: 1px solid #FFFFFF;
    padding: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.categories-item_title{
    height: 36px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.categories-item_button{
    align-self: flex-start;
    align-items: center;
    background-color: #272727;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    line-height: 21px;
    padding: 10px 15px;
    cursor: pointer;
}

.categories-item_button:hover{
    background-color: #ffffff0f;
}


.categories-item_summary{
    margin-bottom: 10px;
}

.categories-item_summary:hover{
    cursor: pointer;
}

.categories-item_description{

}

/*--colors for company types--*/

.self_product{
    border-color: #FF0495;
}

.startup{
    border-color: #F9B58E;
}

.project_support{
    border-color:#F98E8E;
}


.custom_dev{
    border-color: #94D377;
}

.web_studio{
    border-color:#9955FF;
}

.big_it_company{
    border-color:#AE8EF9;
}

.b2g{
    border-color:#66DDEE;
}


.game_dev{
    border-color: #FF8A00;
}


.other{
    border-color: #9999BB;
}

.none_type{
    border-color: red;
}
