.categories{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin: 50px;

}

.categories-items{

    display: flex;
    flex-direction: raw;
    gap: 35px;
    border-radius: 10px;
    padding: 10px;
    align-items: flex-start;
}

.categories-item{

    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}

.customDev{
    border: 2px solid #94D377;
}

.selfProducts{
    border: 2px solid #ff0495;
}

.B2G{
    border: 2px solid #66ddee;
}

.categories_title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-space: 0.2px;
}

.categories-item_title{

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-space: 0.2px;
}

.categories-item_button{
    align-self: flex-start;
    align-items: center;
    background-color: #272727;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    line-height: 21px;
    padding: 10px 15px;
    cursor: pointer;
}

.categories-item_summary{
    margin-bottom: 10px;
}

.categories-item_description{

}