body {
    background-color: #272727;
}

.navigation {
/*    background: #2F0571;*/
    display: flex;
    justify-content: flex-end;
    height: 10vh;

}

.navigation-elem{
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-elem-link{
    text-decoration: none;
    color:  #FCD54C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navigation-elem-icon{
    height: 24px;
    width: 24px;
}

