.map-page-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: Gilroy;

}

.main-section{
    color: #FFFFFF;
    margin: auto;
    height: 88vh;
    width: 99vw;

    display: flex;
    gap: 5px;
    flex-direction: row;
}

.color-info{
    align-self: center;
    padding:15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 350px;
}

.map-header{
    align-items: center;
    border-bottom: 1px solid #faf446;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 10px 10px 0 10px;
}

.profile-header__icon{
    height: 100px;
}

.profile-header__userName{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-title{
    align-self: start;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.userName-reduction{
    align-items: baseline;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 5px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.userName-reduction__icon{
    height: 10px;
}

/*----------------*/


.favourite-title{
    color: #FFFFFF;
    font-size: 30px;
    letter-spacing: 0.2px;
}

.profile-logout{
    width: 160px;
}

.profile-logout__button{
    align-items: center;
    background-color: #272727;
    border: 1px solid #272727;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 10px;
    letter-spacing: 0.2px;
    padding: 10px 15px;
    cursor: pointer;
}

.profile-logout_icon{
    height: 30px;
}