.map-page-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: Gilroy;
}

.main-map-section{
    color: #FFFFFF;
    margin: auto;
    height: 88vh;
    width: 99vw;

    display: flex;
    gap: 20px;
    flex-direction: row;
}



.map-header{
    align-items: center;
    border-bottom: 1px solid #faf446;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 10px 10px 0 10px;
}

.map-header__icon{
    height: 100px;
}

.map-title{
    align-self: start;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

/*----------------*/

.map-logout{
    width: 160px;
}

.map-logout__button{
    align-items: center;
    background-color: #272727;
    border: 1px solid #272727;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 10px;
    letter-spacing: 0.2px;
    padding: 10px 15px;
    cursor: pointer;
}

.map-logout_icon{
    height: 30px;
}

.map-legend-container{
    align-self: center;
    padding:15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 350px;
}

.map-legend-item{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    line-height:25px;
}

.map-legend-item-rect{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 5px;
}