{%extends 'main/layout.html'%}
{% load static %}


{% block head %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}
{%block title%}Главная страница{%endblock%}

{%block content%}

    <section class="section-greeting">
        <div class="section-greeting__description">
            <span class="section-greeting__headline">У НАС ТЫ НАЙДЕШЬ КОМПАНИЮ МЕЧТЫ</span>
            <span class="section-greeting__sub-headline">Мы собрали информацию о компаниях Челябинска, что бы помочь вам окунуться в мир IT</span>
        </div>

    </section>

    <section class="section section-map">
        <span class="section-title categories_title">Карта компаний</span>
        <span class="section-subtitle"></span>

            <div id="main-page-map-container" class="main-page-map-container">
                <div id="map" style="width: 100%; height: 100%;">
                </div>
            </div>

    </section>

    <section class="section section-categories">
        <span class="section-title categories_title">Категории</span>
        <span class="section-subtitle categories_subtitle">Мы привели основные направления в ИТ, чтобы вам было легче ориентироваться в поиске компаний</span>

        <div class="categories-container">
            {% for category in categories %}
                <div class="main-category" style="border-color: {{category.color}}">
                    <div class="main-category_header">
                        <div class="main-category_header-upper">
                            <span class="main-category_header-title">{{category.category_name}}</span>
                            <a class="categories-item_button"  onclick="window.location.href = 'companies/{{category.category_name}}'">Перейти</a>
                        </div>

                        <details class="categories-item_details">
                            <summary  class="categories-item_summary">Описание</summary>
                            <span class="categories-item_description">{{category.description}}</span>
                        </details>
                    </div>
                    <div class="main-category_subcategories">
                        {% for subcategory in category.subcategories %}
                                <div  class="categories-item" style="border-color: {{subcategory.color}}">
                                    <h2 class="categories-item_title">{{subcategory.subcategory_name}}</h2>
                                    <details class="categories-item_details">
                                        <summary class="categories-item_summary">Описание</summary>
                                        <span class="categories-item_description">{{subcategory.description}}</span>
                                    </details>
                                    <a class="categories-item_button"  onclick="window.location.href = 'companies/{{subcategory.subcategory_name}}'">Перейти</a>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <script src=" {% static 'main/js/map.js' %}"></script>
{%endblock%}