{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"  href="{% static 'main/css/reset.css'%}">
    <link rel="stylesheet" type="text/css"  href="{% static 'main/css/font.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/categories.css'%}">

    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{{user.id}}
    <div class="main-header">
        <div class="site-logo">
            <a href="{% url 'home' %}">
                <img class="main-logo" src="{% static 'main/img/logoCSU.png'%}">
            </a>
        </div>
        <form action="{% url 'search'%}" method="get" class="search-container">
            <input class="search-row" placeholder="Введите название компании..."  autocomplete="off" type="search" name="q" required="">
            <button class="search-button" type="submit">
                <img class="search-button-image" src="{% static 'main/icons/search.svg' %}">
            </button>
        </form>

        <div class="navigation-elem">
            <a class="navigation-elem-link" href="{%url 'home'%}">
                <img class="navigation-elem-icon" src="{% static 'main/icons/home.svg'%}">Главная
            </a>
        </div>
        <div class="navigation-elem">
            <a class="navigation-elem-link" href="{%url 'companies'%}">
                <img class="navigation-elem-icon" src="{% static 'main/icons/companies.svg'%}">Компании
            </a>
        </div>
        <div class="navigation-elem">
            <a class="navigation-elem-link" href="{%url 'map'%}">
                <img class="navigation-elem-icon" src="{% static 'main/icons/map.svg'%}">Карта
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="navigation-elem">
                <a class="navigation-elem-link" href="{%url 'profile'%}">
                    <img class="navigation-elem-icon" src="{% static 'main/icons/user.svg'%}">Мой профиль
                </a>
            </div>
        {% else %}
            <div class="navigation-elem">
                <a class="navigation-elem-link" href="{%url 'login'%}">
                    <img class="navigation-elem-icon" src="{% static 'main/icons/user.svg'%}">Вход
                </a>
            </div>
        {% endif %}
    </div>
    {% block content %}

    {% endblock %}

</body>
</html>