{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"  href="{% static 'main/css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css'%}">
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <div class="navigation">

        <div class="navigation-elem"><a class="navigation-elem-link" href="{%url 'home'%}"><img class="navigation-elem-icon" src="{% static 'main/icons/home.svg'%}">Главная</a></div>
        <div class="navigation-elem"><a class="navigation-elem-link" href="{%url 'companies'%}"> <img class="navigation-elem-icon" src="{% static 'main/icons/companies.svg'%}">Компании</a></div>
        <div class="navigation-elem"><a class="navigation-elem-link" href=""><img class="navigation-elem-icon" src="{% static 'main/icons/user.svg'%}">Мой профиль</a></div>
    </div>




    {% block content %}
    <main>

    </main>
    {% endblock %}
</body>
</html>