<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script>
        Content-Security-Policy "frame-ancestors 'self' http://127.0.0.1:8000/";
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8651d9ba7b5f4861bdb2c442b445b5b9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_8651d9ba7b5f4861bdb2c442b445b5b9" ></div>
        
</body>
<script>
    
    
            var map_8651d9ba7b5f4861bdb2c442b445b5b9 = L.map(
                "map_8651d9ba7b5f4861bdb2c442b445b5b9",
                {
                    center: [55.16523510061088, 61.427102328027054],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5b8a0751eec5fa45f8df21d318da99f7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_5b8a0751eec5fa45f8df21d318da99f7.addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
    
            var marker_341dadce5a4d59532f1ad3bf1a6f5985 = L.marker(
                [55.17810281780689, 61.31967807545179],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_1b6e8002dba4bba06770856ad8efdf8e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_341dadce5a4d59532f1ad3bf1a6f5985.setIcon(icon_1b6e8002dba4bba06770856ad8efdf8e);
        
    
        var popup_be770810de31078a702b715357cb14c0 = L.popup({"maxWidth": "100%"});

        
            
                var html_8e1697500d9dc3d48af860d5343e2e06 = $(`<div id="html_8e1697500d9dc3d48af860d5343e2e06" style="width: 100.0%; height: 100.0%;">ЧелГУ</div>`)[0];
                popup_be770810de31078a702b715357cb14c0.setContent(html_8e1697500d9dc3d48af860d5343e2e06);
            
        

        marker_341dadce5a4d59532f1ad3bf1a6f5985.bindPopup(popup_be770810de31078a702b715357cb14c0)
        ;

        
    
    
            marker_341dadce5a4d59532f1ad3bf1a6f5985.bindTooltip(
                `<div>
                     IT компания
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_755cbd8382e0aa2633a89d236c034874 = L.marker(
                [55.162322563924604, 61.37485434686038],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_233f297191f2fd4ec6afc5417e4c3f76 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_755cbd8382e0aa2633a89d236c034874.setIcon(icon_233f297191f2fd4ec6afc5417e4c3f76);
        
    
        var popup_0863fabe5eee3c436e2ed9a8dba2db27 = L.popup({"maxWidth": "100%"});

        
            
                var html_8ad4ad9339f3f82b2c44e96c4ce1e932 = $(`<div id="html_8ad4ad9339f3f82b2c44e96c4ce1e932" style="width: 100.0%; height: 100.0%;">ИТ Энигма</div>`)[0];
                popup_0863fabe5eee3c436e2ed9a8dba2db27.setContent(html_8ad4ad9339f3f82b2c44e96c4ce1e932);
            
        

        marker_755cbd8382e0aa2633a89d236c034874.bindPopup(popup_0863fabe5eee3c436e2ed9a8dba2db27)
        ;

        
    
    
            marker_755cbd8382e0aa2633a89d236c034874.bindTooltip(
                `<div>
                     Кибербезопасность
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_10c7df5d0a113dab107245c2cd8e9072 = L.marker(
                [55.156877627170346, 61.30099144042235],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_459549ae5000af8e36bd2b97e7e39db7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_10c7df5d0a113dab107245c2cd8e9072.setIcon(icon_459549ae5000af8e36bd2b97e7e39db7);
        
    
        var popup_92697813c6ac02c8d15d95444d060cd3 = L.popup({"maxWidth": "100%"});

        
            
                var html_98cb59c01925b40725f2f68cd6012f20 = $(`<div id="html_98cb59c01925b40725f2f68cd6012f20" style="width: 100.0%; height: 100.0%;">F-LAB</div>`)[0];
                popup_92697813c6ac02c8d15d95444d060cd3.setContent(html_98cb59c01925b40725f2f68cd6012f20);
            
        

        marker_10c7df5d0a113dab107245c2cd8e9072.bindPopup(popup_92697813c6ac02c8d15d95444d060cd3)
        ;

        
    
    
            marker_10c7df5d0a113dab107245c2cd8e9072.bindTooltip(
                `<div>
                     Кибербезопасность
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_543d798b9ca34c605bbd0970fb3aa115 = L.marker(
                [55.17315000190367, 61.365313565575164],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_6ce00fde35838dc1b894e53c2ec98840 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_543d798b9ca34c605bbd0970fb3aa115.setIcon(icon_6ce00fde35838dc1b894e53c2ec98840);
        
    
        var popup_59e6a97dba20182a54de20da09590618 = L.popup({"maxWidth": "100%"});

        
            
                var html_7a6af9b94f5fd0bd000dbe16fadf924e = $(`<div id="html_7a6af9b94f5fd0bd000dbe16fadf924e" style="width: 100.0%; height: 100.0%;">Интерсвязь</div>`)[0];
                popup_59e6a97dba20182a54de20da09590618.setContent(html_7a6af9b94f5fd0bd000dbe16fadf924e);
            
        

        marker_543d798b9ca34c605bbd0970fb3aa115.bindPopup(popup_59e6a97dba20182a54de20da09590618)
        ;

        
    
    
            marker_543d798b9ca34c605bbd0970fb3aa115.bindTooltip(
                `<div>
                     Собственная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_161b362398d0c1487dc01727bb64fa9a = L.marker(
                [55.15493100593255, 61.40023052271539],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_921aeb7ecad1f8dbe6e970dda0dfabb8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_161b362398d0c1487dc01727bb64fa9a.setIcon(icon_921aeb7ecad1f8dbe6e970dda0dfabb8);
        
    
        var popup_bd01b2de15786e16e986466bbb0b3f1d = L.popup({"maxWidth": "100%"});

        
            
                var html_7fb85d02f562e58eccc03720245fd157 = $(`<div id="html_7fb85d02f562e58eccc03720245fd157" style="width: 100.0%; height: 100.0%;">Инновации детям</div>`)[0];
                popup_bd01b2de15786e16e986466bbb0b3f1d.setContent(html_7fb85d02f562e58eccc03720245fd157);
            
        

        marker_161b362398d0c1487dc01727bb64fa9a.bindPopup(popup_bd01b2de15786e16e986466bbb0b3f1d)
        ;

        
    
    
            marker_161b362398d0c1487dc01727bb64fa9a.bindTooltip(
                `<div>
                     Собственная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d6c4b759c67b6b172fdb6cbb2bc61dcb = L.marker(
                [55.16207655138783, 61.43051607119092],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_d8a20f280da549e032c26fba83c5f2ac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d6c4b759c67b6b172fdb6cbb2bc61dcb.setIcon(icon_d8a20f280da549e032c26fba83c5f2ac);
        
    
        var popup_70d270090151b76363246130b6c97d53 = L.popup({"maxWidth": "100%"});

        
            
                var html_989ee6e8e44dcefe571d8dfae6d49613 = $(`<div id="html_989ee6e8e44dcefe571d8dfae6d49613" style="width: 100.0%; height: 100.0%;">Nova Games</div>`)[0];
                popup_70d270090151b76363246130b6c97d53.setContent(html_989ee6e8e44dcefe571d8dfae6d49613);
            
        

        marker_d6c4b759c67b6b172fdb6cbb2bc61dcb.bindPopup(popup_70d270090151b76363246130b6c97d53)
        ;

        
    
    
            marker_d6c4b759c67b6b172fdb6cbb2bc61dcb.bindTooltip(
                `<div>
                     GameDev
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_13b95c6971c116f9094493443b8c975d = L.marker(
                [55.164874685353645, 61.401122082826944],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_a718df7323eb99caeb9912b927d86869 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_13b95c6971c116f9094493443b8c975d.setIcon(icon_a718df7323eb99caeb9912b927d86869);
        
    
        var popup_9edde095ea7e7165064d9dedbc9c4b3c = L.popup({"maxWidth": "100%"});

        
            
                var html_e8a51b5823ea9ff6f6b12fb47ead8260 = $(`<div id="html_e8a51b5823ea9ff6f6b12fb47ead8260" style="width: 100.0%; height: 100.0%;">TAPCLAP</div>`)[0];
                popup_9edde095ea7e7165064d9dedbc9c4b3c.setContent(html_e8a51b5823ea9ff6f6b12fb47ead8260);
            
        

        marker_13b95c6971c116f9094493443b8c975d.bindPopup(popup_9edde095ea7e7165064d9dedbc9c4b3c)
        ;

        
    
    
            marker_13b95c6971c116f9094493443b8c975d.bindTooltip(
                `<div>
                     GameDev
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1fc88bac62585b64e98cc3f52be5e19a = L.marker(
                [55.170745197135254, 61.413583227009354],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_9dc8f02422834e39a261ae0f34941d90 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_1fc88bac62585b64e98cc3f52be5e19a.setIcon(icon_9dc8f02422834e39a261ae0f34941d90);
        
    
        var popup_5b705ed2ca77b477b9cd48a1ff44a48f = L.popup({"maxWidth": "100%"});

        
            
                var html_27b9226134e812e4d266f75c0ccf8ad0 = $(`<div id="html_27b9226134e812e4d266f75c0ccf8ad0" style="width: 100.0%; height: 100.0%;">Playrix</div>`)[0];
                popup_5b705ed2ca77b477b9cd48a1ff44a48f.setContent(html_27b9226134e812e4d266f75c0ccf8ad0);
            
        

        marker_1fc88bac62585b64e98cc3f52be5e19a.bindPopup(popup_5b705ed2ca77b477b9cd48a1ff44a48f)
        ;

        
    
    
            marker_1fc88bac62585b64e98cc3f52be5e19a.bindTooltip(
                `<div>
                     GameDev
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_45bfd4d561c02df01bc5b15b65e63fdd = L.marker(
                [55.169148746093036, 61.378706984682104],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_67131c063dacea19cba0aa3701a6eda9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_45bfd4d561c02df01bc5b15b65e63fdd.setIcon(icon_67131c063dacea19cba0aa3701a6eda9);
        
    
        var popup_4105b8e6e881a8685ec0d139037e1a50 = L.popup({"maxWidth": "100%"});

        
            
                var html_14847311e4df8f284037ff6df55d2d68 = $(`<div id="html_14847311e4df8f284037ff6df55d2d68" style="width: 100.0%; height: 100.0%;">Odin Games</div>`)[0];
                popup_4105b8e6e881a8685ec0d139037e1a50.setContent(html_14847311e4df8f284037ff6df55d2d68);
            
        

        marker_45bfd4d561c02df01bc5b15b65e63fdd.bindPopup(popup_4105b8e6e881a8685ec0d139037e1a50)
        ;

        
    
    
            marker_45bfd4d561c02df01bc5b15b65e63fdd.bindTooltip(
                `<div>
                     GameDev
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_91b915471438a538756b9d46055ddf41 = L.marker(
                [55.16480844266152, 61.401059942354664],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_f500a9d612fccb896c853b530a72d9fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_91b915471438a538756b9d46055ddf41.setIcon(icon_f500a9d612fccb896c853b530a72d9fc);
        
    
        var popup_b7acdbf1d7b06345527c4ccc4d4f8807 = L.popup({"maxWidth": "100%"});

        
            
                var html_87916c5efca3aef462f3f3f33d1d57a7 = $(`<div id="html_87916c5efca3aef462f3f3f33d1d57a7" style="width: 100.0%; height: 100.0%;">3 Divi</div>`)[0];
                popup_b7acdbf1d7b06345527c4ccc4d4f8807.setContent(html_87916c5efca3aef462f3f3f33d1d57a7);
            
        

        marker_91b915471438a538756b9d46055ddf41.bindPopup(popup_b7acdbf1d7b06345527c4ccc4d4f8807)
        ;

        
    
    
            marker_91b915471438a538756b9d46055ddf41.bindTooltip(
                `<div>
                     IT-Стартап
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c15429a13ada05c64167bd66b73155f = L.marker(
                [55.15576413484781, 61.370867812263874],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_b493341f381b6e7d4f067d97fb1966c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_8c15429a13ada05c64167bd66b73155f.setIcon(icon_b493341f381b6e7d4f067d97fb1966c1);
        
    
        var popup_a84935687dcdd2fcbdbf3820160cd93c = L.popup({"maxWidth": "100%"});

        
            
                var html_96844702dde2a4b09c3b5cc86b0ae708 = $(`<div id="html_96844702dde2a4b09c3b5cc86b0ae708" style="width: 100.0%; height: 100.0%;">СКБ-Контур</div>`)[0];
                popup_a84935687dcdd2fcbdbf3820160cd93c.setContent(html_96844702dde2a4b09c3b5cc86b0ae708);
            
        

        marker_8c15429a13ada05c64167bd66b73155f.bindPopup(popup_a84935687dcdd2fcbdbf3820160cd93c)
        ;

        
    
    
            marker_8c15429a13ada05c64167bd66b73155f.bindTooltip(
                `<div>
                     IT-Стартап
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1535a218a9679788bd5c230590298cde = L.marker(
                [55.190730814944175, 61.33353100555804],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_f3b1ad877b51387b3fff0a8752b09774 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1535a218a9679788bd5c230590298cde.setIcon(icon_f3b1ad877b51387b3fff0a8752b09774);
        
    
        var popup_724150802bb9d3dc8b7b08ac82638335 = L.popup({"maxWidth": "100%"});

        
            
                var html_7f867ac05dd582248c62534a994aeb21 = $(`<div id="html_7f867ac05dd582248c62534a994aeb21" style="width: 100.0%; height: 100.0%;">АСПРО</div>`)[0];
                popup_724150802bb9d3dc8b7b08ac82638335.setContent(html_7f867ac05dd582248c62534a994aeb21);
            
        

        marker_1535a218a9679788bd5c230590298cde.bindPopup(popup_724150802bb9d3dc8b7b08ac82638335)
        ;

        
    
    
            marker_1535a218a9679788bd5c230590298cde.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a9b91fab16cb3f3fc69213f439b7f005 = L.marker(
                [55.14926455931064, 61.385146816169396],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_f1eda3a6c352e889f1a71485554c8b79 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a9b91fab16cb3f3fc69213f439b7f005.setIcon(icon_f1eda3a6c352e889f1a71485554c8b79);
        
    
        var popup_9e78aca1deb01bb973ae5fe147fd2519 = L.popup({"maxWidth": "100%"});

        
            
                var html_00857a98e53c95e91fc6fc3bcee297f6 = $(`<div id="html_00857a98e53c95e91fc6fc3bcee297f6" style="width: 100.0%; height: 100.0%;">Dextra</div>`)[0];
                popup_9e78aca1deb01bb973ae5fe147fd2519.setContent(html_00857a98e53c95e91fc6fc3bcee297f6);
            
        

        marker_a9b91fab16cb3f3fc69213f439b7f005.bindPopup(popup_9e78aca1deb01bb973ae5fe147fd2519)
        ;

        
    
    
            marker_a9b91fab16cb3f3fc69213f439b7f005.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d119cb62be21860f237b8d880d1b5236 = L.marker(
                [55.16501443448449, 61.37425512082958],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_69e1668a7f7ced2321bf8e2945d1f49f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d119cb62be21860f237b8d880d1b5236.setIcon(icon_69e1668a7f7ced2321bf8e2945d1f49f);
        
    
        var popup_5d66452a3e0e0cc2b32510f8d0543be7 = L.popup({"maxWidth": "100%"});

        
            
                var html_320b6d5322e7949b84f8d6c83420be71 = $(`<div id="html_320b6d5322e7949b84f8d6c83420be71" style="width: 100.0%; height: 100.0%;">Цифровой элемент</div>`)[0];
                popup_5d66452a3e0e0cc2b32510f8d0543be7.setContent(html_320b6d5322e7949b84f8d6c83420be71);
            
        

        marker_d119cb62be21860f237b8d880d1b5236.bindPopup(popup_5d66452a3e0e0cc2b32510f8d0543be7)
        ;

        
    
    
            marker_d119cb62be21860f237b8d880d1b5236.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0f6fc769cd04a0488d546394ae060cd8 = L.marker(
                [55.162085806673836, 61.397694811663214],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_a50bc19a67181a68b7520c25e6f87288 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0f6fc769cd04a0488d546394ae060cd8.setIcon(icon_a50bc19a67181a68b7520c25e6f87288);
        
    
        var popup_bcfdf0c75689eda7ed013fc8c86bdc52 = L.popup({"maxWidth": "100%"});

        
            
                var html_293e932ed43ddf435e3d008dfeb85c27 = $(`<div id="html_293e932ed43ddf435e3d008dfeb85c27" style="width: 100.0%; height: 100.0%;">Napoleon IT</div>`)[0];
                popup_bcfdf0c75689eda7ed013fc8c86bdc52.setContent(html_293e932ed43ddf435e3d008dfeb85c27);
            
        

        marker_0f6fc769cd04a0488d546394ae060cd8.bindPopup(popup_bcfdf0c75689eda7ed013fc8c86bdc52)
        ;

        
    
    
            marker_0f6fc769cd04a0488d546394ae060cd8.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b3fd014a32a7b4eda2730e9b1e1f5d62 = L.marker(
                [55.15688962758773, 61.302039981860936],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_f5451da374bee534e5a08564b19af767 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b3fd014a32a7b4eda2730e9b1e1f5d62.setIcon(icon_f5451da374bee534e5a08564b19af767);
        
    
        var popup_7c7d60c41afa52693454955f1a8025aa = L.popup({"maxWidth": "100%"});

        
            
                var html_7fa6184c4233048da10191e094d030dc = $(`<div id="html_7fa6184c4233048da10191e094d030dc" style="width: 100.0%; height: 100.0%;">Unit6</div>`)[0];
                popup_7c7d60c41afa52693454955f1a8025aa.setContent(html_7fa6184c4233048da10191e094d030dc);
            
        

        marker_b3fd014a32a7b4eda2730e9b1e1f5d62.bindPopup(popup_7c7d60c41afa52693454955f1a8025aa)
        ;

        
    
    
            marker_b3fd014a32a7b4eda2730e9b1e1f5d62.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_173f1569321fcf6ed56ad391b41b1e9d = L.marker(
                [55.16849278757826, 61.40638978282713],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_2db8231d7d8fd1941228acbf7545661f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_173f1569321fcf6ed56ad391b41b1e9d.setIcon(icon_2db8231d7d8fd1941228acbf7545661f);
        
    
        var popup_67725346b88155bb839bf083c567a79f = L.popup({"maxWidth": "100%"});

        
            
                var html_33222293ff2485a07ff36d5dd6be5ded = $(`<div id="html_33222293ff2485a07ff36d5dd6be5ded" style="width: 100.0%; height: 100.0%;">Byndyusoft</div>`)[0];
                popup_67725346b88155bb839bf083c567a79f.setContent(html_33222293ff2485a07ff36d5dd6be5ded);
            
        

        marker_173f1569321fcf6ed56ad391b41b1e9d.bindPopup(popup_67725346b88155bb839bf083c567a79f)
        ;

        
    
    
            marker_173f1569321fcf6ed56ad391b41b1e9d.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8325b8b30daf30fbfea0f44b4a8d0ab3 = L.marker(
                [55.15369593760404, 61.364913353990026],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_b1039bcc7fad42762d46c478d74a4682 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8325b8b30daf30fbfea0f44b4a8d0ab3.setIcon(icon_b1039bcc7fad42762d46c478d74a4682);
        
    
        var popup_71a5dd58ec1831de0ca6f499debd7fb5 = L.popup({"maxWidth": "100%"});

        
            
                var html_a8484c4f4e1d1d9bf527a0da2f8bc801 = $(`<div id="html_a8484c4f4e1d1d9bf527a0da2f8bc801" style="width: 100.0%; height: 100.0%;">Xpage</div>`)[0];
                popup_71a5dd58ec1831de0ca6f499debd7fb5.setContent(html_a8484c4f4e1d1d9bf527a0da2f8bc801);
            
        

        marker_8325b8b30daf30fbfea0f44b4a8d0ab3.bindPopup(popup_71a5dd58ec1831de0ca6f499debd7fb5)
        ;

        
    
    
            marker_8325b8b30daf30fbfea0f44b4a8d0ab3.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_37a0b7383e2c05c6c7b56eb735d3c62e = L.marker(
                [55.164439229950894, 61.30143849817261],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_7da881b27bdbe014edce25abbf103369 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_37a0b7383e2c05c6c7b56eb735d3c62e.setIcon(icon_7da881b27bdbe014edce25abbf103369);
        
    
        var popup_6e7247be168f97110115c1608114601f = L.popup({"maxWidth": "100%"});

        
            
                var html_0b3c222809a733efb106d384c0eb00f8 = $(`<div id="html_0b3c222809a733efb106d384c0eb00f8" style="width: 100.0%; height: 100.0%;">fuse8</div>`)[0];
                popup_6e7247be168f97110115c1608114601f.setContent(html_0b3c222809a733efb106d384c0eb00f8);
            
        

        marker_37a0b7383e2c05c6c7b56eb735d3c62e.bindPopup(popup_6e7247be168f97110115c1608114601f)
        ;

        
    
    
            marker_37a0b7383e2c05c6c7b56eb735d3c62e.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a2ef2512e64c38c3426bd550cd2f9b01 = L.marker(
                [55.191764377931044, 61.35612132701031],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_d922813e2b9672b7df47e21a9a23c66d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a2ef2512e64c38c3426bd550cd2f9b01.setIcon(icon_d922813e2b9672b7df47e21a9a23c66d);
        
    
        var popup_8abe5980687e2dd629c61ad009b46ea8 = L.popup({"maxWidth": "100%"});

        
            
                var html_d61b1c99b1535caa73b0a609f8df6a9f = $(`<div id="html_d61b1c99b1535caa73b0a609f8df6a9f" style="width: 100.0%; height: 100.0%;">Прикладные технологии</div>`)[0];
                popup_8abe5980687e2dd629c61ad009b46ea8.setContent(html_d61b1c99b1535caa73b0a609f8df6a9f);
            
        

        marker_a2ef2512e64c38c3426bd550cd2f9b01.bindPopup(popup_8abe5980687e2dd629c61ad009b46ea8)
        ;

        
    
    
            marker_a2ef2512e64c38c3426bd550cd2f9b01.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb8b8aa2bee0f545b2660a8f0804ae2f = L.marker(
                [55.17738374482536, 61.40015691351884],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_13853361696e2132c2f6e67305c9bc56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_eb8b8aa2bee0f545b2660a8f0804ae2f.setIcon(icon_13853361696e2132c2f6e67305c9bc56);
        
    
        var popup_4ce77b25cb0fbcfbc9503bac1b415409 = L.popup({"maxWidth": "100%"});

        
            
                var html_00a1a7999190b8b47ca76f6930a5b7e9 = $(`<div id="html_00a1a7999190b8b47ca76f6930a5b7e9" style="width: 100.0%; height: 100.0%;">ID Scan</div>`)[0];
                popup_4ce77b25cb0fbcfbc9503bac1b415409.setContent(html_00a1a7999190b8b47ca76f6930a5b7e9);
            
        

        marker_eb8b8aa2bee0f545b2660a8f0804ae2f.bindPopup(popup_4ce77b25cb0fbcfbc9503bac1b415409)
        ;

        
    
    
            marker_eb8b8aa2bee0f545b2660a8f0804ae2f.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e55fad0d50abbb9524e8e2f4114ddab4 = L.marker(
                [55.16584563980339, 61.4095245116634],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_b537f0e17a6a2cd2eb696d799dbea881 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e55fad0d50abbb9524e8e2f4114ddab4.setIcon(icon_b537f0e17a6a2cd2eb696d799dbea881);
        
    
        var popup_17f8b104bbf1e02559edf5fa2beab997 = L.popup({"maxWidth": "100%"});

        
            
                var html_ecd6cf204a6d3c74952f4fb80ca5e324 = $(`<div id="html_ecd6cf204a6d3c74952f4fb80ca5e324" style="width: 100.0%; height: 100.0%;">Antida software</div>`)[0];
                popup_17f8b104bbf1e02559edf5fa2beab997.setContent(html_ecd6cf204a6d3c74952f4fb80ca5e324);
            
        

        marker_e55fad0d50abbb9524e8e2f4114ddab4.bindPopup(popup_17f8b104bbf1e02559edf5fa2beab997)
        ;

        
    
    
            marker_e55fad0d50abbb9524e8e2f4114ddab4.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cdd57bdd22072c4dac4488c7fec56394 = L.marker(
                [55.1645905438025, 61.40106692329928],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_ac293b533f78b0ea226556edf5b448a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cdd57bdd22072c4dac4488c7fec56394.setIcon(icon_ac293b533f78b0ea226556edf5b448a0);
        
    
        var popup_83e35eb640850187352a3c1374b7734e = L.popup({"maxWidth": "100%"});

        
            
                var html_fa19670c270ea32d78e6251281b1aac8 = $(`<div id="html_fa19670c270ea32d78e6251281b1aac8" style="width: 100.0%; height: 100.0%;">Ланит</div>`)[0];
                popup_83e35eb640850187352a3c1374b7734e.setContent(html_fa19670c270ea32d78e6251281b1aac8);
            
        

        marker_cdd57bdd22072c4dac4488c7fec56394.bindPopup(popup_83e35eb640850187352a3c1374b7734e)
        ;

        
    
    
            marker_cdd57bdd22072c4dac4488c7fec56394.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_24500404893e027870bae252155f2c3b = L.marker(
                [55.15672528689525, 61.30157939817233],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_52f3585f96eb8884499ca1cb0c35ef0a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_24500404893e027870bae252155f2c3b.setIcon(icon_52f3585f96eb8884499ca1cb0c35ef0a);
        
    
        var popup_505063bc03a38065803969a338a2a126 = L.popup({"maxWidth": "100%"});

        
            
                var html_46da4988917591e806d2d10e2023e9d9 = $(`<div id="html_46da4988917591e806d2d10e2023e9d9" style="width: 100.0%; height: 100.0%;">Инфиннити</div>`)[0];
                popup_505063bc03a38065803969a338a2a126.setContent(html_46da4988917591e806d2d10e2023e9d9);
            
        

        marker_24500404893e027870bae252155f2c3b.bindPopup(popup_505063bc03a38065803969a338a2a126)
        ;

        
    
    
            marker_24500404893e027870bae252155f2c3b.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2392fdbcb14a24691c4fa4d4658e335f = L.marker(
                [53.35964069213474, 58.97011004310974],
                {}
            ).addTo(map_8651d9ba7b5f4861bdb2c442b445b5b9);
        
    
            var icon_2dd812e69cf2838e126e20fd5fd0c075 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2392fdbcb14a24691c4fa4d4658e335f.setIcon(icon_2dd812e69cf2838e126e20fd5fd0c075);
        
    
        var popup_04ec4eca74a1da0c8041d31f702b926e = L.popup({"maxWidth": "100%"});

        
            
                var html_094721ff037ec05cde0c7f4aec2caef0 = $(`<div id="html_094721ff037ec05cde0c7f4aec2caef0" style="width: 100.0%; height: 100.0%;">Консом СКС</div>`)[0];
                popup_04ec4eca74a1da0c8041d31f702b926e.setContent(html_094721ff037ec05cde0c7f4aec2caef0);
            
        

        marker_2392fdbcb14a24691c4fa4d4658e335f.bindPopup(popup_04ec4eca74a1da0c8041d31f702b926e)
        ;

        
    
    
            marker_2392fdbcb14a24691c4fa4d4658e335f.bindTooltip(
                `<div>
                     Заказная разработка
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>