{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css"  href="{% static 'main/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
</head>
<body>
    <div class="map-page-container">
        <div id="map" style="width: 100%; height: 100%;"></div>
    </div>

    <!-- скриптик для карты -->
    <script src=" {% static 'main/js/script.js' %}"></script>

</body>
</html>