{%extends 'main/layout.html'%}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'account/css/registration.css'%}">

{% endblock %}
{% block title %}Регистрация{%endblock%}


{% block content %}

<main class="registration-container">

    <div class="registration-header">
        <span class="registration-header_main"> Регистрация </span>
        <form action="{%url 'login'%}">
            <button class="login-button extra-button" type="submit">Вход</button>
        </form>
    </div>

    <form method="post" class="registration-form">
         {% csrf_token %}

        {% for f in user_form %}
            {{ f|add_label_class:"registration-help-info"}} <!-- another way <label for="{{f.id_for_label}}" class="registration-help-info">{{f.label}}</label>-->
            {%render_field f class+="input-field"%} <!-- don't know another way-->
            {{f.errors}}
        {% endfor %}

<!--        <span class="registration-help-info">Введите адрес электронной почты</span>-->
<!--        <input class="input-field" type="email">-->
<!--        <span class="registration-help-info">Введите пароль</span>-->
<!--        <input class="input-field" type="password">-->
<!--        <span class="registration-help-info">Подтвердите пароль</span>-->
<!--        <input class="input-field" type="password">-->
        <button class="submit-button" type="submit">Подтвердить</button>
    </form>

</main>



{% endblock %}
