.button{
    border: 0;
    border-radius: 2%;
    font-size: 20px;
    width: 120px;

    background-color: #272727;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;

    line-height: 21px;
    padding: 15px ;
    cursor: pointer;

}