.registration-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-header{
    display: flex;
    flex-direction: row
}

.registration-header_main{
    align-self: center;
    background: transparent;
    color: #faf446;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    padding: 0 15px;
    cursor: default;
}

.registration-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0 20px 0;
    width: 420px;
}

.input-field{
    background-color: #302D2D;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    height: 30px;
    margin-bottom: 20px;
}

.registration-help-info{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}


.submit-button{
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 21px;
    padding: 15px ;
    width: 420px;
    cursor: pointer;
}

.submit-button:hover{
    border-color: #faf446;
    color: #faf446;
}

.extra-button{
    background-color: #272727;
    border: 1px solid #272727;
    color: #ffffff4f;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-decoration: none;
    padding: 15px ;
    cursor: pointer;
}

.help{
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    padding: 50px;
}

h1{
    align-self: center;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.2px;
    padding: 0 15px;
}

h2{
    color: #FFFFFF;
    font-size: 26px;
}

h5{
    align-self: center;
    color: #FFFFFF;
    font-size: 18px;
}

a{
    color: #FFFFFF;
    font-size: 18px;
}

.message{
    display:flex;
    gap: 5px;
    flex-direction: row;
    justify-content:center;
}

/*error style*/

.errorlist li{
    color: red;
}

/*----*/