.registration-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.registration-header{
    display: flex;
    flex-direction: row
}

.registration-header_main{
    background: transparent;
    align-self: center;
    color: #faf446;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    padding: 0 15px;
    cursor: default;
}

.registration-form{
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;

    width: 420px;
    gap: 10px;
}

.input-field{
    background-color: #302D2D;
    color: #FFFFFF;
    border: 0;
    height: 30px;
    border-radius: 2%;
    margin-bottom: 20px;
    color: white;
}

.registration-help-info{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
}


.button{
    font-size: 20px;
    width: 420px;
    background: transparent;

    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;

    line-height: 21px;
    padding: 15px ;
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
    color: #faf446;
    border-color: #faf446;
}

.extra-button{
    background-color: #272727;
    border: 1px solid #272727;
    color: #ffffff4f;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;

    padding: 15px ;
    cursor: pointer;
}



/*error style*/

.errorlist li{
    color: red;
}

/*----*/