{%extends 'main/layout.html'%}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="shortcut icon" href="{% static 'main/icons/user.svg'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'accounts/css/registration.css'%}">
{% endblock %}
{% block title %} {% if form != None %} Введите новый пароль{% else %} Ошибка восстановления пароля {% endif %}{%endblock%}


{% block content %}

    <div class="help">

        {% if form != None %}
        <form class="registration-form" method="post">
            {% csrf_token %}
            {% for f in form %}
                    {{ f|add_label_class:"registration-help-info"}} <!-- another way <label for="{{f.id_for_label}}" class="registration-help-info">{{f.label}}</label>-->
                    {%render_field f class+="input-field"%} <!-- don't know another way-->
                    {{f.errors}}
            {% endfor %}
            <button class="submit-button" type="submit">Подтвердить</button>
        </form>
    {% else %}
        <h2>Ошибка восстановления пароля</h2>
        <h5>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.</h5>
    {% endif %}

    </div>

{% endblock %}
