{%extends 'main/layout.html'%}
{% load static %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}
{% block title %} {% if form != None %} Введите новый пароль{% else %} Ошибка восстановления пароля {% endif %}{%endblock%}


{% block content %}
    {% if form != None %}
        <form action="{% url 'password_reset_complete' %}" method="get">
            {% csrf_token %}
            {{form}}
            <button type="submit">Подтвердить</button>
        </form>
    {% else %}
        <h2>Ошибка восстановления пароля</h2>
        <h5>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.</h5>
    {% endif %}

{% endblock %}
