
{%extends 'main/layout.html'%}
{% load static %}
{%block title%}Компании{%endblock%}

{%block content%}
    <h1>Компании</h1>
    <p>Компании</p>

     {% for company in companies %}
            <div class="company">
                    <div class="company-name">
                        <h3>{{ company.name }}</h3>
                    </div>
                <a href ="{%url 'napoleonit'%}">
                    <div class="company-info">
                        <img class="company-info-logo" src="{{company.logotype.url}}" height="100px" width="100px">
                        <p class="company-info-text">
                            {{company.short_description}}
                        </p>
                    </div>
                </a>
            </div>
    {% endfor%}

{%endblock%}